.page {
  display: flex;
  justify-content: space-evenly;

  .calendar {
    display: flex;
    flex-wrap: wrap;
  }
  .events {
    width: 600px;
    background-color: lightyellow;
    border-style: groove;
  }
}
